<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medispace - AI Medical Companion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <label class="logo">medispace</label>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('upload_image') }}">Upload Prescription</a></li>
            <li><a href="{{ url_for('chatbot') }}">Chatbot</a></li>
            <li><a href="{{ url_for('login') }}" class="login">Login</a></li>
        </ul>
        <label id="icon">
            <i class="fas fa-bars"></i>
        </label>
    </nav>

    <section class="homepage">
        <div class="title-box">
            <h1 class="title">Your AI-Powered Medical Companion</h1>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>